virtio_cuda.o.ur-safe
test/*/run
lib/libcudart.so*
*.o
NVIDIA_CUDA-9.1_Samples/bin/
NVIDIA_CUDA-9.1_Samples/0_Simple/vectorAdd/vectorAdd
NVIDIA_CUDA-9.1_Samples/0_Simple/matrixMul/matrixMul
NVIDIA_CUDA-9.1_Samples/0_Simple/simpleStreams/simpleStreams
NVIDIA_CUDA-9.1_Samples/1_Utilities/deviceQuery/deviceQuery
NVIDIA_CUDA-9.1_Samples/1_Utilities/bandwidthTest/bandwidthTest
NVIDIA_CUDA-9.1_Samples/3_Imaging/convolutionSeparable/convolutionSeparable
NVIDIA_CUDA-9.1_Samples/4_Finance/binomialOptions/binomialOptions
NVIDIA_CUDA-9.1_Samples/4_Finance/BlackScholes/BlackScholes
NVIDIA_CUDA-9.1_Samples/4_Finance/MonteCarloMultiGPU/MonteCarloMultiGPU
NVIDIA_CUDA-9.1_Samples/6_Advanced/alignedTypes/alignedTypes
NVIDIA_CUDA-9.1_Samples/6_Advanced/fastWalshTransform/fastWalshTransform
NVIDIA_CUDA-9.1_Samples/6_Advanced/sortingNetworks/sortingNetworks


